.navigatie{
    background: rgba(83, 133, 214, 0.8) !important;
    border-bottom: 10px solid #255bb2 !important;
    padding: 0% !important;
}

.cmsnavigatie{
    background: rgba(83, 133, 214, 0.8) !important;
    padding: 0% !important;
}

.navigatie-tekst{
    color: white !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.active{
    background: rgba(83, 133, 214) !important;
}

.navblock{
    margin-right: 5px
}

.h1tekst{
    color: rgba(83, 133, 214, 0.8) !important;
    padding: 0% !important;
    margin-bottom: 10px;
}

.wedstrijd{
    background-color: rgb(224, 224, 224) ;
    border: rgb(207, 207, 207);
    border-style: solid;
    border-radius: 15px;
    height: 60px;
}
.wedstrijdteam{
    text-align: center;
}

.teamdetail{
    background-color: rgb(224, 224, 224) ;
    border: rgb(207, 207, 207);
    border-style: solid;
    border-radius: 15px;

}

.teamimg{
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    position: relative;
    height: 100%; 
    min-height: 100%; 
}



footer {
    margin-top: 300px !important;
}