.navigatie{
    background: rgba(83, 133, 214, 0.8) !important;
    border-bottom: 10px solid #255bb2 !important;
    padding: 0% !important;
}

.cmsnavigatie{
    background: rgba(83, 133, 214, 0.8) !important;
    padding: 0% !important;
}

.navigatie-tekst{
    color: white !important;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.active{
    background: rgba(83, 133, 214) !important;
}

.navblock{
    margin-right: 5px
}

.h1tekst{
    color: rgba(83, 133, 214, 0.8) !important;
    padding: 0% !important;
    margin-bottom: 10px;
}